__pycache__/
*.pyc
*.pyo
.env
*.session
account/waitLogin/*
account/loginSuccess/*
account/data/*
!account/waitLogin/.gitkeep
!account/loginSuccess/.gitkeep
!account/data/.gitkeep
logs/*.log
bin/app.pid
venv/
.venv/
